.help-container {
    margin-right: auto;
    margin-left: auto;
}

.row{
    margin:0;
}

body{
    color:#00274c;
}

.fa{
    color:#cc6600;
}


.col-container{
    background-color:#a2b6c2;
    padding:0;
    margin:10px 0px;
}

h3{
    display:block;;
    margin: 0;
    padding: 1rem;
    color:white;
}

.answers-now{
    background-color:#00274c;
}

.answers-later{
    background-color:#40658f;
}


.btn-title{
    font-weight:bold;
}

.btn-subtitle{
    font-style:italic;
}

.btn-nexthours{
    font-style:italic;
}

.btn-1{
    margin:10px 0px; 
    height:200px;
    width:97%;
    white-space:normal;
    background-color:white;
    color:#00274c;
    border-radius:10px;
    border: none;
    transition: all 0.2s ease 0s;
}

.btn-1 .btn-title{
    font-size:20px;
}

.btn-1:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}


.btn-2{
    margin: 10px 0px;
    height:90px;
    /* line-height:90px; */
    width:97%;
    white-space:normal;
    text-align:left;
    background-color:white;
    color:#00274c;
    border-radius:10px;
    border: none;
    transition: all 0.2s ease 0s;
}

.btn-2 .btn-title{
    font-size:16px;
}

.btn-2:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

@media (max-width: 991px){
    .btn-2 .btn-title{
        font-size:18px;
    }
  } 

  @media (max-width: 767px){
    .btn-2 .btn-title{
        font-size:18px;
    }
  } 