.help-container {
    margin-right: auto;
    margin-left: auto;
}

.row{
    margin:0;
}

body{
    color:#00274c;
}

.fa{
    color:#cc6600;
    display:inline;
}

#feedback{
    padding:0.9375em;
}

.col-container{
    background-color:#a2b6c2;
    padding:0;
    margin:0.625em 0em;
    min-height:19em;
}

h3{
    display:block;;
    margin: 0;
    padding: 1rem;
    color:white;
}

.answers-now{
    background-color:#00274c;
}

.answers-now btn{
    color:grey;
}

.answers-later{
    background-color:#40658f;
}


.btn{
    padding:0.75em 0.325em 0.325em 0.325em;
}

.btn-title{
    font-weight:bold;
}

.btn-subtitle{
    font-style:italic;
}

.btn-nexthours{
}

.btn-1{
    margin:0.625em 0em; 
    min-height:14em;
    width:97%;
    white-space:normal;
    background-color:white;
    color:#00274c;
    border-radius:0.625em;
    border: none;
    transition: all 0.2s ease 0s;
}

.btn-1 .btn-title{
    font-size:1.25em;
}

.btn-1:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}


.btn-2{
    margin: 0.625em 0em;
    min-height:6.375em;
    /* line-height:90px; */
    width:97%;
    white-space:normal;
    text-align:left;
    background-color:white;
    color:#00274c;
    border-radius:0.625em;
    border: none;
    transition: all 0.2s ease 0s;
    padding-top:2.5rem;
}


.btn-2 .btn-title{
    font-size:1em;
}

.btn-2:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-closed .btn-title{
    color:#7a8793;
}

.btn-closed .btn-subtitle{
    color:#7a8793;
}

.btn-closed .fa:before{
    color:#f4d9bf;
}

.btn-closed .btn-nexthours{
    color:#7a8793;
}

.btn-status-open{
    color:green;
    font-size: 1em;
}

.btn-status-closed{
    color:rgb(112, 38, 38);
    font-size: 1em;
}

  @media (max-width: 767px){
    .btn-2 .btn-title{
        font-size:1.125em;
    }
  } 

.phone-today-tomo, .chat-today-tomo{
    font-weight:bold;
}


.view-hours{
    font-size:1.375em;
}

@media (max-width: 991px) {
    .text-md-center { text-align: center; }
}

.view-hours a{
    color: #0075bc;
    text-decoration: underline;
}