:root {
    --main-blue: #0099E6;
    --dark-grey: #212529;
    --light-blue: #91c5e0;
    --highlight: #FF9900;
  }

.btn-primary {
    background-color: var(--main-blue);
    border-color: var(--main-blue);
}

.text-primary {
    color: var(--main-blue) !important;
}



.contact-info{
    font-size:1.5rem;
    color: var(--light-blue);
}

#mainNav {
    background-color: #ffffff;
}

#mainNav .navbar-brand {
    color: var(--main-blue);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.75rem;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--dark-grey);
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--main-blue);
    font-weight:bold;
}

#mainNav .navbar-toggler {
    background-color: var(--main-blue);
}

#mainNav {
    box-shadow: 0 3px 3px -3px var(--dark-grey);
}

header.masthead {
    text-align: center;
    color: #fff;
    background: linear-gradient(
        rgba(4, 36, 78, 0.45), 
        rgba(4, 36, 78, 0.45)
      ),url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

primary:focus, .btn-primary:hover {
    background-color: var(--highlight)!important;
    border-color: var(--highlight)!important;
}

#services .subheading{
    margin-bottom:100px;
}

#services p {
    margin-bottom:50px;
}

#contact .subheading{
    margin-bottom:40px;
    color:#ffffff !important;
}

#contact h3{
    color:#ffffff;
    margin-top:40px;
}

section#contact{
    background-image:none;
}

#contactForm {
    margin-top:8px;
}

#team .section-heading{
    margin-bottom:100px;
}

.subheading{
    font-style:italic;
    font-family:  'Merriweather', serif;
}

p{
    font-family: 'Merriweather', serif;
}

a:hover{
    color:var(--highlight);
}

@media (min-width: 992px) {

    #mainNav {
        background-color:#ffffff;
    }

    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #ffffff;
    }
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 75px;
    }

    header.masthead .intro-text .intro-heading {
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        margin-bottom: 50px;
        font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    }

    header.masthead .intro-text .intro-lead-in {
        font-family: font-family: 'Merriweather', serif;
}
