.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fad149;
    opacity:0.95;
    text-align: center;
    padding: 20px 1% 20px 1%;
    z-index:1000;
}

.fixed-footer h2{
    text-align:left;
    display:inline;
    font-size:1em;
    color: #00274c;
    
}

.fixed-footer p{
    text-align:left;
    display:inline;
    font-size:1em;
    color: #00274c;
}

.get-help-chat-tab {
    /* position: fixed; */
    bottom: 33%;
    /* right: 0px;
    display: block;
    margin: 0;
    padding: 0;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    color: #ffffff;
    background: #00274c;
    white-space: nowrap;
    z-index: 99999;
    transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
    transform: rotate(-90deg) translate(50%);
    -moz-transform: rotate(-90deg) translate(50%);
    -webkit-transform: rotate(-90deg) translate(50%);
    -o-transform: rotate(-90deg) translate(50%);
    -ms-transform: rotate(-90deg) translate(50%);
    animation: slideInFromRight 20s ease-out 1.5s 2 forwards;
    -webkit-animation: slideInFromRight 20s ease-out 1.5s 2 forwards;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3); */
}

.windows-only{
    font-size:0.75em;
    font-style:italic;
}

#frontqlwrapper a.ql {
    padding:35px;
}

#frontqlwrapper > div:nth-child(9) > a{
    padding-bottom: 10px;
}

.new-tile{
    position:relative;
    overflow: hidden !important;
}


.new-tile::before,
.new-tile::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}


.new-tile::after {
    border-radius: o;
    border-width: 2em;
    border-right-color: #e0f1d9;
    border-top-color: #e0f1d9;
}

.new-label {
    z-index: 101;
    position: absolute;
    top: 10px;
    right: 2px;
    color: #00274c;
    transform: rotate(45deg);
}

#banner-icon{
    height:50px;
}